<div class="account container pt-5">
  <blog-loading [isLoading]="loading"
    ><div *ngIf="user">
      <section
        class="account__profile d-flex align-items-center border-bottom-red pb-5"
      >
        <img
          class="account__profile__picture mr-3"
          src="https://picsum.photos/100/100/?random"
          alt="Profile Pic"
        />
        <div>
          <h1>{{ user.name }}</h1>
          <span class="small"
            >Joined in {{ formatDate(user.createdAt, 'MMMM YYYY') }}</span
          >
        </div>
      </section>
      <section
        class="account__posts mt-5 border-bottom-red pb-5"
        *ngIf="user.posts"
      >
        <h2>Your Posts</h2>
        <div *ngFor="let post of user.posts">
          <div
            class="account__posts__post p-3 d-flex justify-content-between align-items-center"
          >
            <div>
              <div>{{ post.title }}</div>
              <small class="small">{{
                formatDate(post.updatedAt, 'DD MMMM YYYY')
              }}</small>
            </div>
            <div class="account__posts__post__icons">
              <i class="fa fa-pencil-alt mr-3"></i>
              <i class="fa fa-trash" (click)="deletePost(post.id)"></i>
            </div>
          </div>
        </div>
      </section>
    </div>
  </blog-loading>
</div>
