.header {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 1;

  &__nav-link {
    margin-right: 20px;
    color: #525962;
    &--active {
      color: #d43451;
    }

    &:hover {
      color: #d43451;
    }
  }
}
