<header
  *ngIf="logged"
  class="header container py-3 d-flex justify-content-between"
>
  <div></div>
  <nav class="">
    <a
      routerLink="/"
      [routerLinkActive]="['header__nav-link--active']"
      [routerLinkActiveOptions]="{ exact: true }"
      class="header__nav-link"
      >Home</a
    >
    <a
      routerLink="/create"
      class="header__nav-link"
      [routerLinkActive]="['header__nav-link--active']"
      >Create</a
    >
    <a (click)="logout()" routerLink="/login" class="header__nav-link"
      >Logout</a
    >
  </nav>
</header>
